
.img-container {
    position: relative;
    display: flex;
    justify-content: center;
  }
  
  .img {
    /* Estilos para la imagen */
    width: 60%;
    height: auto;
  }
  
  .checkboxes {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 485px;
    margin-top: 260px;
  }
  
  .checkboxes input[type="checkbox"] {
    /* Estilos para los checkboxes */
    width: 30px;
    height: 30px;
    margin-bottom: 23px;
    border: none; /* Quitar el borde */
  }
  
.password-container{
    margin-top: -700px;
    display: flex;
    justify-content: center;
    position: relative;
    align-content: center;
    margin-left: 600px;
}
.password-container {
    display: none;
    position: relative; /* Agrega esta propiedad para permitir el uso de z-index */
  z-index: 1;
  }

  .options-container{
    display: flex;
    position: relative;
    margin-top: -700px;
    margin-left: 615px;
    flex-direction: column;
    width: 200px;
    border: none;
    color: white;
    
}
  